In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Intalacion de librerias

In [ ]:
import pandas as pd

## Lista de eliminaciones de columnas de la BDD 'Diseño de registros de la base hogar'.
* AGLOMERADO(31): Solo nos quedaremos con estas filas, porque trabajaremos solo registros de TDF.
* REALIZADA: No aporta a la nada a la base de datos
* ANO4: Como toda la BDD es del año 2018, podems eliminarla.
* TRIMESTRE: Como toda la BDD es del mismo trimestre, podems eliminarla.
* POND_TIC: No hay suficientes datos sobre esta columna.

In [4]:
# Carga de dataset
df_hog = pd.read_excel("C:/Users/marce/OneDrive/Documentos/TECNICATURA EN CS DE DATOS E IA/2DO AÑO/1ER CUATRIMESTRE/APRENDIZAJE AUTOMATICO/acceso_a_internet/data/raw/EPH_usu_hogar_tic_t418.xlsx")
df_hog.head()

,CODUSU,NRO_HOGAR,REALIZADA,ANO4,TRIMESTRE,AGLOMERADO,POND_TIC,IH_II_01,IH_II_02
0,TQRMNOPPQHJMKMCDEFIAH00622969,1,1,2018,4,2,539,1,1
1,TQRMNOPPQHJMLUCDEFIAH00622993,1,1,2018,4,2,545,1,1
2,TQRMNOPPQHMMLUCDEFIAH00594749,1,1,2018,4,2,612,1,1
3,TQRMNOPPRHJMLUCDEFIAH00623008,1,1,2018,4,2,545,1,1
4,TQRMNOPPSHJMKMCDEFIAH00623022,1,1,2018,4,2,539,1,1

## Lista de eliminaciones de columnas de la BDD 'Diseño de registros de la base personas'.
* AGLOMERADO(31): Solo nos quedaremos con estas filas, porque trabajaremos solo registros de TDF.
* ANO4: Como toda la BDD es del año 2018, podems eliminarla.
* TRIMESTRE: Como toda la BDD es del mismo trimestre, podems eliminarla.
* POND_TIC: No hay suficientes datos sobre esta columna.

In [5]:
# Carga de dataset
df_pers = pd.read_excel("C:/Users/marce/OneDrive/Documentos/TECNICATURA EN CS DE DATOS E IA/2DO AÑO/1ER CUATRIMESTRE/APRENDIZAJE AUTOMATICO/acceso_a_internet/data/raw/EPH_usu_Indiv_tic_t418.xlsx")
df_pers.head()

,CODUSU,NRO_HOGAR,COMPONENTE,ANO4,TRIMESTRE,AGLOMERADO,POND_TIC,RESPONDENTE,IP_III_04,IP_III_05,IP_III_06
0,TQRMNOPPQHJMKMCDEFIAH00622969,1,1,2018,4,2,539,1.0,1,1,1
1,TQRMNOPPQHJMKMCDEFIAH00622969,1,2,2018,4,2,539,1.0,1,1,1
2,TQRMNOPPQHJMKMCDEFIAH00622969,1,3,2018,4,2,539,1.0,1,1,1
3,TQRMNOPPQHJMLUCDEFIAH00622993,1,1,2018,4,2,545,2.0,1,1,1
4,TQRMNOPPQHJMLUCDEFIAH00622993,1,2,2018,4,2,545,2.0,1,1,1