In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\marce\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Intalacion de librerias

In [10]:
import pandas as pd

## Lista de eliminaciones de columnas de la BDD 'Diseño de registros de la base hogar'.
* AGLOMERADO(31): Solo nos quedaremos con estas filas, porque trabajaremos solo registros de TDF.
* REALIZADA: No aporta a la nada a la base de datos
* ANO4: Como toda la BDD es del año 2018, podems eliminarla.
* TRIMESTRE: Como toda la BDD es del mismo trimestre, podems eliminarla.
* POND_TIC: No hay suficientes datos sobre esta columna.

In [11]:
# Carga de dataset.
df_hogares = pd.read_excel("C:/Users/marce/OneDrive/Documentos/TECNICATURA EN CS DE DATOS E IA/2DO AÑO/1ER CUATRIMESTRE/APRENDIZAJE AUTOMATICO/acceso_a_internet/data/raw/EPH_usu_hogar_tic_t418.xlsx")
df_hogares.head()

,CODUSU,NRO_HOGAR,REALIZADA,ANO4,TRIMESTRE,AGLOMERADO,POND_TIC,IH_II_01,IH_II_02
0,TQRMNOPPQHJMKMCDEFIAH00622969,1,1,2018,4,2,539,1,1
1,TQRMNOPPQHJMLUCDEFIAH00622993,1,1,2018,4,2,545,1,1
2,TQRMNOPPQHMMLUCDEFIAH00594749,1,1,2018,4,2,612,1,1
3,TQRMNOPPRHJMLUCDEFIAH00623008,1,1,2018,4,2,545,1,1
4,TQRMNOPPSHJMKMCDEFIAH00623022,1,1,2018,4,2,539,1,1

In [16]:
# Eliminar columnas innecesarias para el análisis.
df_hog = df_hogares.drop(columns=['REALIZADA', 'ANO4', 'TRIMESTRE', 'POND_TIC'])
df_hog.head()

                          CODUSU  NRO_HOGAR  AGLOMERADO  IH_II_01  IH_II_02
0  TQRMNOPPQHJMKMCDEFIAH00622969          1           2         1         1
1  TQRMNOPPQHJMLUCDEFIAH00622993          1           2         1         1
2  TQRMNOPPQHMMLUCDEFIAH00594749          1           2         1         1
3  TQRMNOPPRHJMLUCDEFIAH00623008          1           2         1         1
4  TQRMNOPPSHJMKMCDEFIAH00623022          1           2         1         1

In [17]:
# Recuento de filas antes de eliminar filas.
df_hog.count()

CODUSU        18600
NRO_HOGAR     18600
AGLOMERADO    18600
IH_II_01      18600
IH_II_02      18600
dtype: int64

In [19]:
# Eliminar filas innecesarias para el análisis (solo trabajaremos con datos de Rio Grande y Ushuaia)
df_hogtdf = df_hog[df_hog['AGLOMERADO'] == 31]
df_hogtdf.head()

,CODUSU,NRO_HOGAR,AGLOMERADO,IH_II_01,IH_II_02
12285,TQRMNOPPQHJMKPCDEIHJF00626473,1,31,1,1
12286,TQRMNOPPQHKMKNCDEIHJF00620952,1,31,1,1
12287,TQRMNOPPRHJMKPCDEIHJF00626438,1,31,1,1
12288,TQRMNOPPRHKNKQCDEIHJF00620859,1,31,1,1
12289,TQRMNOPPSHJMKMCDEIHJF00626453,1,31,1,1

In [18]:
# Recuento de filas después de eliminar filas.
df_hogtdf.count()

CODUSU        398
NRO_HOGAR     398
AGLOMERADO    398
IH_II_01      398
IH_II_02      398
dtype: int64

## Lista de eliminaciones de columnas de la BDD 'Diseño de registros de la base personas'.
* AGLOMERADO(31): Solo nos quedaremos con estas filas, porque trabajaremos solo registros de TDF.
* ANO4: Como toda la BDD es del año 2018, podems eliminarla.
* TRIMESTRE: Como toda la BDD es del mismo trimestre, podems eliminarla.
* POND_TIC: No hay suficientes datos sobre esta columna.

In [21]:
# Carga de dataset
df_personas = pd.read_excel("C:/Users/marce/OneDrive/Documentos/TECNICATURA EN CS DE DATOS E IA/2DO AÑO/1ER CUATRIMESTRE/APRENDIZAJE AUTOMATICO/acceso_a_internet/data/raw/EPH_usu_Indiv_tic_t418.xlsx")
df_personas.head()

,CODUSU,NRO_HOGAR,COMPONENTE,ANO4,TRIMESTRE,AGLOMERADO,POND_TIC,RESPONDENTE,IP_III_04,IP_III_05,IP_III_06
0,TQRMNOPPQHJMKMCDEFIAH00622969,1,1,2018,4,2,539,1.0,1,1,1
1,TQRMNOPPQHJMKMCDEFIAH00622969,1,2,2018,4,2,539,1.0,1,1,1
2,TQRMNOPPQHJMKMCDEFIAH00622969,1,3,2018,4,2,539,1.0,1,1,1
3,TQRMNOPPQHJMLUCDEFIAH00622993,1,1,2018,4,2,545,2.0,1,1,1
4,TQRMNOPPQHJMLUCDEFIAH00622993,1,2,2018,4,2,545,2.0,1,1,1

In [22]:
# Eliminar columnas innecesarias para el análisis.
df_per = df_personas.drop(columns=['ANO4', 'TRIMESTRE', 'POND_TIC'])
df_per.head()

,CODUSU,NRO_HOGAR,COMPONENTE,AGLOMERADO,RESPONDENTE,IP_III_04,IP_III_05,IP_III_06
0,TQRMNOPPQHJMKMCDEFIAH00622969,1,1,2,1.0,1,1,1
1,TQRMNOPPQHJMKMCDEFIAH00622969,1,2,2,1.0,1,1,1
2,TQRMNOPPQHJMKMCDEFIAH00622969,1,3,2,1.0,1,1,1
3,TQRMNOPPQHJMLUCDEFIAH00622993,1,1,2,2.0,1,1,1
4,TQRMNOPPQHJMLUCDEFIAH00622993,1,2,2,2.0,1,1,1

In [23]:
# Recuento de filas antes de eliminar filas.
df_per.count()

CODUSU         54178
NRO_HOGAR      54178
COMPONENTE     54178
AGLOMERADO     54178
RESPONDENTE    54177
IP_III_04      54178
IP_III_05      54178
IP_III_06      54178
dtype: int64

In [24]:
# Eliminar filas innecesarias para el análisis (solo trabajaremos con datos de Rio Grande y Ushuaia)
df_pertdf = df_per[df_per['AGLOMERADO'] == 31]
df_pertdf.head()

,CODUSU,NRO_HOGAR,COMPONENTE,AGLOMERADO,RESPONDENTE,IP_III_04,IP_III_05,IP_III_06
36805,TQRMNOPPQHJMKPCDEIHJF00626473,1,1,31,1.0,1,1,1
36806,TQRMNOPPQHJMKPCDEIHJF00626473,1,2,31,1.0,1,1,1
36807,TQRMNOPPQHKMKNCDEIHJF00620952,1,1,31,2.0,1,1,1
36808,TQRMNOPPQHKMKNCDEIHJF00620952,1,2,31,2.0,1,1,1
36809,TQRMNOPPQHKMKNCDEIHJF00620952,1,3,31,2.0,1,1,2

In [25]:
# Recuento de filas después de eliminar filas.
df_pertdf.count()

CODUSU         1144
NRO_HOGAR      1144
COMPONENTE     1144
AGLOMERADO     1144
RESPONDENTE    1144
IP_III_04      1144
IP_III_05      1144
IP_III_06      1144
dtype: int64